@import url("https://fonts.googleapis.com/css?family=Roboto:500,700|Open+Sans");
html {
  height: 100%;
  color: black;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 2em;
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1em;
  }
}

form {
  text-align: left;
  padding: 1rem;
}

h1, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 1rem;
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

li {
  padding: 1rem;
}

canvas {
  background: #48383F;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -border-radius: 10px;
  margin: 1rem;
  font-size: 2em;
}
@media screen and (min-width: 1024px) {
  canvas {
    margin: 0;
  }
}

select {
  border-radius: 5px;
}

.country-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  margin: 1rem;
  float: none;
}
@media screen and (min-width: 1024px) {
  .country-title {
    width: 25%;
    float: left;
  }
}

.devices {
  color: #E75825;
}

.channels {
  color: #48383F;
}

/*# sourceMappingURL=styles.css.map */
